# This workflow will build a package using Maven and then publish it to GitHub packages when pushed
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on: push

permissions:
  contents: read
  packages: write

env:
  MAVEN_REPOSITORY: github::https://maven.pkg.github.com/arm64-compat/${{ github.event.repository.name }}
  GITHUB_TOKEN: ${{ github.token }}
  MVN: mvn -DskipTests -s ${{ github.workspace }}/settings.xml


jobs:
  build-docker-client:
    defaults:
      run:
        working-directory: docker-client

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Cache
      uses: actions/cache@v3.0.2
      with:
        path: ~/.m2
        key: maven-${{ hashFiles('pom.xml') }}
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
    - name: Change jnr-unixsocket version
      run: $MVN versions:use-latest-releases -Dincludes=com.github.jnr:jnr-unixsocket
    - name: Build docker-client snapshot
      run: $MVN -B package
    - name: Publish to GitHub Packages Apache Maven
      run: $MVN deploy -DaltSnapshotDeploymentRepository="$MAVEN_REPOSITORY"
