# This workflow will build a package using Maven and then publish it to GitHub packages when pushed
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on: push

jobs:
  build-docker-client:

    runs-on: ubuntu-latest
    env:
      POM_LOCATION: docker-client/pom.xml
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Cache
      uses: actions/cache@v3.0.2
      with:
        path: ~/.m2
        key: maven-${{ hashFiles('$POM_LOCATION') }}
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: settings.xml
    - name: Change jnr-unixsocket version
      run: mvn versions:use-latest-releases --file $POM_LOCATION -Dincludes=com.github.jnr:jnr-unixsocket
    - name: Build docker-client snapshot
      run: mvn -B package --file $POM_LOCATION -DskipTests
    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
